
/*============ FONTS ============*/
@font-face {
    font-family:'DJB' ;
    src: url('../font/DJB.ttf');
}
@font-face {
    font-family:'Starjout' ;
    src: url('../font/Starjout.ttf');
}
@font-face {
    font-family:'Stjedise' ;
    src: url('../font/STJEDISE.TTF');
}


/* Part 1 */
/* Background*/
.bgPart1{
    background-image: url('../img/bg-LJP-part1.png');
    background-size: cover;
    height: 100vh;
}

/* Part 2 */
/* Background*/
.bgPart2{
    background-image: url('../img/bg-LJP-part2.png');
    background-size: cover;
    height: 100vh;
}

/* Taille page*/
.firstPage{
    height: 100vh;
}

/*============ BUTTON PLAY ============*/
/* Boutton Play première page*/

#playGame{
    font-family: 'Bowlby One SC', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    font-size : 3em;
    color : white;
    width: 300px;
    height: 300px;
    background-image: url(../img/LJP-boutton.png);
    background-size: cover;
    -webkit-animation: rotation 2s linear;
} 

#playGame:hover{
    font-size : 4em;
    height: 400px;
    width: 400px;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
#playGame:focus{
    box-shadow: none;
}
/* Effet d'apparition zoom*/
/* .slide-in-fwd-center{
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}
@-webkit-keyframes slide-in-fwd-center {
    0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
}
@keyframes slide-in-fwd-center {
    0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    }
} */

/*============ TIMER ============*/
.clignote {
    animation: clignote 2s linear infinite;
}
@keyframes clignote {  
    50% { opacity: 0; }
}
.minuteur{
    font-family: 'DJB';
    text-shadow: rgb(255, 255, 255) 1px 0 4px;;
}


/*============ MISE EN FORME TEXTE ============*/
h1{
    font-family: 'Bowlby One SC';
    font-size : 2.5em;
}
h2{
    font-family: 'Roboto';
    font-size : 2em;
}
body{
    font-family: 'Roboto';
    font-size : 1em;
}
p{
    font-family: 'Roboto';
    font-size : 1em;
}
.guesses{
    font-family: 'Roboto';
    font-size : 1em;
}
.guessField {
    font-family: 'Roboto';
    font-size : 1em;
    width: 200px;
    height: 50px;;
}
.counter{
    font-family: 'Roboto';
    font-size : 1em;
}
